<div class="container">
  <div class="card mt-4">
    <p-table
      [paginator]="true"
      [rows]="10"
      [globalFilterFields]="['title', 'category']"
      [value]="filteredProducts()!"
      [tableStyle]="{ 'min-width': '60rem' }"
    >
      <ng-template #caption>
        <div class="flex">
          <p-iconfield iconPosition="left" class="ml-auto">
            <p-inputicon>
              <i class="pi pi-search"></i>
            </p-inputicon>
            <input
              pInputText
              type="text"
              placeholder="Search keyword"
              (input)="
                titleFilter.set($any($event.target).value);
                categoryFilter.set($any($event.target).value)
              "
            />
          </p-iconfield>
        </div>
      </ng-template>

      <ng-template #header>
        <tr>
          <th pSortableColumn="code" style="width: 20%">
            Title <p-sortIcon field="code" />
          </th>
          <th pSortableColumn="name" style="width: 20%">
            Price <p-sortIcon field="name" />
          </th>
          <th pSortableColumn="category" style="width: 20%">
            Rating <p-sortIcon field="category" />
          </th>
          <th pSortableColumn="quantity" style="width: 20%">Category</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-product>
        <tr>
          <td>{{ product.title }}</td>
          <td>{{ product.price }}</td>
          <td>
            <p-rating [(ngModel)]="product.rating.rate" [readonly]="true" />
          </td>
          <td>{{ product.category }}</td>
          <td (click)="viewProduct(product)">
            <button class="preview__btn">Preview</button>
          </td>
          <td (click)="updateProduct(product.id)">
            <i class="pi pi-pencil text-secondary cursor"></i>
          </td>
          <td (click)="deleteProduct(product.id)">
            <i class="pi pi-trash text-danger cursor"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

@if(updateProductVisible()){
<app-update-product
  [(visible)]="updateProductVisible"
  [productId]="currentProductId()"
></app-update-product>
} @if(viewProductVisible()){
<app-view-product
  [(visible)]="viewProductVisible"
  [product]="selectedProduct()!"
></app-view-product>
}

<p-toast />
