<p-dialog
  [(visible)]="visible"
  [showHeader]="false"
  [style]="{ width: '50%' }"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
>
  <div class="d-flex flex-column p-4" [formGroup]="updateForm">
    <div class="card flex justify-center my-1">
      <input
        pInputText
        formControlName="title"
        class="ng-invalid ng-dirty"
        placeholder="title"
      />
    </div>
    <div class="card flex justify-center my-1">
      <input
        pInputText
        formControlName="price"
        class="ng-invalid ng-dirty"
        placeholder="price"
      />
    </div>
    <div class="card flex justify-center my-1">
      <input
        pInputText
        formControlName="category"
        class="ng-invalid ng-dirty"
        placeholder="category"
      />
    </div>
    <button class="bg-primary p-2 border-primary text-white w-50 m-auto mt-4" (click)="updateProduct()">Update</button>
  </div>
</p-dialog>
