<p-dialog
  [(visible)]="visible"
  [showHeader]="false"
  [style]="{ width: '50%' }"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
>
<div class="d-flex flex-column justify-content-center text-center p-4">
    <span class="text-md text-secondary my-2">{{product()?.id}}</span>
    <span class="text-md text-secondary my-2">{{product()?.title}}</span>
    <span class="text-md text-secondary my-2">{{product()?.price}}</span>
    <span class="text-md text-secondary my-2">{{product()?.category}}</span>
    <span class="text-md text-secondary my-2">{{product()?.rating?.rate}}</span>
</div>
</p-dialog>